@{
    ViewData["Title"] = "Acerca de";
}
<h1 class="display-2 text-dark text-center fw-bold">@ViewData["Title"]</h1>

<div class="container mt-4 mb-5">
    <div class="card shadow-lg">
        <div class="text-center mb-1 mt-2">
            <p class="lead text-black">
                Sistema web desarrollado en ASP.NET Core MVC como parte del trabajo integrador de Programación III.
            </p>
        </div>
        <div class="text-center">
            <p class="lead">
                Este sistema fue desarrollado como parte del Trabajo Práctico Integrador de la materia <strong>Programación III</strong>.
                El objetivo principal es gestionar despachos de mercadería, incluyendo clientes, productos, direcciones y pedidos.
            </p>

            <h5 class="mt-6 container-fluid">🛠 Funcionalidades implementadas:</h5>
            <ul class="list-group list-group-flush d-inline-block text-start">
                <li class="list-group-item">✔️ ABM de Clientes, Direcciones y Productos</li>
                <li class="list-group-item">✔️ Registro de despachos con detalle de productos</li>
                <li class="list-group-item">✔️ Control de stock al confirmar un pedido</li>
                <li class="list-group-item">✔️ Gestión de usuarios con login y roles (Administrador/Usuario)</li>
                <li class="list-group-item">✔️ Restricción de accesos según el tipo de usuario</li>
            </ul>

            <h5 class="mt-4">👥 Integrantes del equipo:</h5>
            <p>
                <em>Doleatto Lorenzo - </em>
                <em>Fontanarrosa Luciano - </em>
                <em>Gallo Agustín</em>
            </p>  
        </div>
    </div>
</div>
<div class="container mt-4 mb-5">
    <div>
        <h6 class="display-3 text-center">Modelo de Clases (UML):</h6>
        <img src="/images/uml.png" class="img-fluid rounded" alt="Modelo de clases" />
    </div>

</div>
<div class="container mt-4 mb-5">
    <div class="flex-column">
        
        <div>
            <h6 class="display-3 text-center">Diagrama Entidad-Relación (ER):</h6>
            <img src="/images/entidad-relación.jpeg" class="img-fluid rounded" alt="Diagrama ER" />
        </div>
    </div>

</div>

